Repository yaniv-golan/ostruct: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: check-toml

-   repo: local
    hooks:
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        exclude: ^examples/

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.3.4
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^examples/

-   repo: local
    hooks:
    -   id: mypy
        name: mypy (poetry)
        entry: poetry run mypy src
        language: system
        # Do not pass filenames to mypy, we are checking the whole src folder
        pass_filenames: false
        types: [python]

remove: delete MIGRATION_GUIDE.md and all references to it
  CHANGELOG.md
  MIGRATION_GUIDE.md
  scripts/migration/README.md
Due: none

fix: eliminate Code Interpreter download warning in two-pass mode
  src/ostruct/cli/runner.py
  src/ostruct/cli/template_processor.py
Due: black, mypy

docs: update llms.txt to refine --template-debug options
  llms.txt
Due: none

release: bump version to v1.6.0-rc3
  pyproject.toml
Due: none

Checkpoint before follow-up message
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

Revert to stable ostruct version and improve error handling comment
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

feat: implement --ci-download flag for explicit Code Interpreter file downloads
  src/ostruct/cli/click_options.py
  src/ostruct/cli/code_interpreter.py
  src/ostruct/cli/config.py
  src/ostruct/cli/constants.py
  src/ostruct/cli/runner.py
  src/ostruct/cli/template_processor.py
  src/ostruct/cli/types.py
Due: black, mypy

refactor: update ostruct_data_analysis notebook for improved execution
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

Migrate Jupyter notebook to use raw cells for templates and schemas
  .pre-commit-config.yaml
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

fix: correct formatting of command argument in analysis_demo.py
  examples/data-science/analysis/notebooks/analysis_demo.py
Due: mypy

docs: update RST documentation for --ci-download flag
  docs/source/user-guide/cli_reference.rst
  docs/source/user-guide/template_guide.rst
  docs/source/user-guide/template_quick_reference.rst
  docs/source/user-guide/tool_integration.rst
Due: none

docs: add migration guide and update markdown documentation
  CHANGELOG.md
  README.md
  docs/migration/auto-download.md
  llms.txt
Due: none

test: update tests for --ci-download flag implementation
  tests/test_code_interpreter.py
  tests/test_config.py
  tests/test_download_strategy.py
Due: black, mypy

chore: bump version to 1.6.0-rc4
  pyproject.toml
Due: none

examples: update examples to use --ci-download flag
  examples/data-science/analysis/notebooks/analysis_demo.py
  examples/data-science/analysis/run.sh
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
  examples/tools/code-interpreter-basics/run.sh
Due: mypy

docs: update CHANGELOG.md with new data science integration examples and improvements
  CHANGELOG.md
Due: none

release: finalize v1.6.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: make jupyter pre-commit hook CI-compatible
  .pre-commit-config.yaml
Due: none

docs: update llms.txt to correct CLI flag references
  llms.txt
Due: none

Fix: Auto-enable two-pass sentinel strategy before template processing
  src/ostruct/cli/runner.py
  src/ostruct/cli/types.py
Due: black, mypy

fix: Fixed incorrect CLI option names in --help-json:
  src/ostruct/cli/rich_config.py
Due: black, mypy

chore: update CHANGELOG.md for version 1.6.1
  CHANGELOG.md
Due: none
