Repository yaniv-golan/ostruct: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: check-toml

-   repo: local
    hooks:
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        exclude: ^examples/

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.3.4
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^examples/

-   repo: local
    hooks:
    -   id: mypy
        name: mypy (poetry)
        entry: poetry run mypy src
        language: system
        # Do not pass filenames to mypy, we are checking the whole src folder
        pass_filenames: false
        types: [python]

agent: update schema template and refine critic & planner templates wording
  examples/agent/schemas/state.schema.json.template
  examples/agent/templates/critic.j2
  examples/agent/templates/planner.j2
Due: none

agent: add benchmarking scripts, test helpers and verification harness
  examples/agent/benchmark_critic.sh
  examples/agent/benchmark_results/cost_analysis_20250709_185731.json
  examples/agent/benchmark_results/critic_calls_20250709_185731.json
  examples/agent/benchmark_results/execution_time_20250709_185731.json
  examples/agent/benchmark_results/perf_test_input.json
  examples/agent/benchmark_results/performance_report_20250709_185731.md
  examples/agent/test_critic.sh
  examples/agent/test_results/basic_test_input.json
  examples/agent/test_results/patch_test_input.json
  examples/agent/test_results/repeated_failure_input.json
  examples/agent/test_results/safe_test_input.json
  examples/agent/test_results/schema_test_input.json
  examples/agent/verify.sh
Due: none

tests: add shell test for verify_success helper (whitespace fixed)
  tests/test_verifier.sh
Due: none

agent refactor: add lib directory, .gitignore overrides, and include new library modules & tests (whitespace fixed)
  .gitignore
  examples/agent/lib/dag_sort.py
  examples/agent/lib/ostruct_cli.sh
  examples/agent/lib/path_utils.sh
  examples/agent/lib/retry.sh
  examples/agent/lib/tools.sh
  examples/agent/runner.sh
  examples/agent/templates/planner.j2
  tests/lib/test_path_utils.bats
  tests/lib/test_retry.bats
Due: mypy

agent refactor: lib8-10 (config, ai_helpers, tool cleanup)
  examples/agent/lib/ai_helpers.sh
  examples/agent/lib/config.sh
  examples/agent/lib/path_utils.sh
  examples/agent/lib/tools.sh
  examples/agent/runner.sh
Due: none

feat(agent): Enhance UI with gum integration and improved user experience
  examples/agent/ensure_dependencies.sh
  examples/agent/lib/ostruct_cli.sh
  examples/agent/lib/ui_helpers.sh
  examples/agent/runner.sh
Due: none

Remove unused dag_sort.py file, which contained Kahn topological sorting logic for agent runner. This cleanup eliminates unnecessary code and reduces the codebase size.
  examples/agent/lib/dag_sort.py
Due: mypy

feat(schema): update Structured Outputs limits to July 11 2025 specs
  CHANGELOG.md
  src/ostruct/cli/schema_validation.py
  tests/unit/test_schema_limits.py
  tools/schema-generator/README.md
  tools/schema-generator/src/generate_schema_from_template.j2
  tools/schema-generator/src/refine_schema_from_feedback.j2
  tools/template-analyzer/README.md
  tools/template-analyzer/src/analyzer.j2
Due: black, mypy

feat: create shared logging library to replace log4sh
  .gitignore
  lib/simple_logging.sh
  scripts/logging.sh
  scripts/third_party/log4sh
Due: none

chore: remove agent example from public documentation and testing
  examples/README.md
  tests/test_examples.py
Due: black, mypy

feat: add standardized Makefiles for all examples
  docs/source/contribute/examples_standard.rst
  examples/agent/Makefile
  examples/analysis/argument-aif/Makefile
  examples/analysis/data/multi-tool/Makefile
  examples/analysis/document/pdf-analysis/Makefile
  examples/analysis/document/pdf-semantic-diff/Makefile
  examples/analysis/document/pitch-distiller/Makefile
  examples/integration/multi-agent-debate/Makefile
  examples/security/vulnerability-scan/Makefile
  examples/tools/code-interpreter-basics/Makefile
  examples/tools/file-search-basics/Makefile
  examples/tools/web-search-basics/Makefile
  examples/utilities/etymology/Makefile
Due: none

fix: update examples for Makefile standard compliance
  examples/analysis/argument-aif/run.sh
  examples/analysis/argument-aif/schemas/main.json
  examples/analysis/argument-aif/templates/main.j2
  examples/analysis/document/pdf-semantic-diff/scripts/dry_run.sh
  examples/analysis/document/pitch-distiller/README.md
  examples/analysis/document/pitch-distiller/run.sh
  examples/analysis/document/pitch-distiller/templates/pass1_core.j2
Due: none

feat: enhance ostruct CLI with user-data support and improvements
  poetry.lock
  pyproject.toml
  src/ostruct/cli/attachment_processor.py
  src/ostruct/cli/attachment_template_bridge.py
  src/ostruct/cli/binary_detector.py
  src/ostruct/cli/click_options.py
  src/ostruct/cli/constants.py
  src/ostruct/cli/errors.py
  src/ostruct/cli/file_info.py
  src/ostruct/cli/model_validation.py
  src/ostruct/cli/params.py
  src/ostruct/cli/plan_assembly.py
  src/ostruct/cli/plan_printing.py
  src/ostruct/cli/runner.py
  src/ostruct/cli/template_schema.py
  src/ostruct/cli/upload_manager.py
  src/ostruct/cli/url_validation.py
Due: black, mypy

docs: update documentation and tests for new features
  CHANGELOG.md
  docs/source/contribute/how_to_contribute.rst
  docs/source/security/overview.rst
  docs/source/user-guide/advanced_patterns.rst
  docs/source/user-guide/cli_reference.rst
  tests/test_file_routing_intent.py
  tests/test_params.py
  tests/unit/test_build_message_content.py
Due: black, mypy

docs: update CHANGELOG.md with all features since v1.2.0
  CHANGELOG.md
Due: none

Update OpenAI schema propery limit to 5000 (was 100)
  tools/template-analyzer/test_analysis.json
Due: none

chore(agent): clean runtime artefacts, refine .gitignore and Makefile, refresh README links
  examples/agent/.gitignore
  examples/agent/Makefile
  examples/agent/README.md
Due: none

feat(agent): add full helper library set and mark README as preliminary
  .gitignore
  examples/agent/README.md
  examples/agent/ensure_dependencies.sh
  examples/agent/lib/ai_helpers.sh
  examples/agent/lib/config.sh
  examples/agent/lib/json_utils.sh
  examples/agent/lib/ostruct_cli.sh
  examples/agent/lib/path_utils.sh
  examples/agent/lib/retry.sh
  examples/agent/lib/simple_logging.sh
  examples/agent/lib/tool_validation.sh
  examples/agent/lib/tools.sh
  examples/agent/lib/ui_helpers.sh
  examples/agent/runner.sh
  examples/agent/templates/planner.j2
  examples/agent/templates/replanner.j2
  examples/agent/tools.json
  examples/agent/tools/impl/append_file.sh
  examples/agent/tools/impl/awk.sh
  examples/agent/tools/impl/curl.sh
  examples/agent/tools/impl/download_file.sh
  examples/agent/tools/impl/grep.sh
  examples/agent/tools/impl/jq.sh
  examples/agent/tools/impl/read_file.sh
  examples/agent/tools/impl/sed.sh
  examples/agent/tools/impl/text_replace.sh
  examples/agent/tools/impl/write_file.sh
  examples/agent/verify.sh
Due: none

chore(ci): relax flake8 E501 for cli help and test files
  pyproject.toml
Due: none

chore(test): silence flake8 F841 warnings in model choice tests
  tests/test_dynamic_model_choice.py
Due: black, mypy

test: replace unused _result with '_' to satisfy flake8
  tests/test_dynamic_model_choice.py
Due: black, mypy

docs: fix header underline lengths and add examples_standard to toctree
  docs/source/index.rst
  docs/source/user-guide/advanced_patterns.rst
Due: none

chore(templates): remove outdated main_old.j2 template file
  examples/analysis/argument-aif/templates/main_old.j2
Due: none

docs: update CHANGELOG.md to reflect version 1.3.0 release
  CHANGELOG.md
Due: none

fix(docker): remove output redirection from docker build command for better visibility of build errors
  scripts/docker/test-docker-environments.sh
Due: none

feat(docker): install Python Poetry in Alpine and Ubuntu Dockerfiles
  scripts/docker/test-alpine.dockerfile
  scripts/docker/test-ubuntu.dockerfile
Due: none

feat(docker): add additional build dependencies in Alpine Dockerfile
  scripts/docker/test-alpine.dockerfile
Due: none

docs: enhance CLI reference and user guide with auto-routing and file detection details
  docs/source/user-guide/cli_reference.rst
  docs/source/user-guide/introduction.rst
  docs/source/user-guide/quickstart.rst
  docs/source/user-guide/tool_integration.rst
Due: none

docs: add optional enhanced file type detection instructions to CLI user guide
  docs/source/index.rst
Due: none

docs: update CHANGELOG.md to include enhanced file type detection feature with magika integration
  CHANGELOG.md
Due: none

chore: add magika as a dependency for enhanced file type detection
  pyproject.toml
Due: none

chore: mark several dependencies as optional and add enhanced-detection markers
  poetry.lock
Due: none

security: Add credential sanitization to prevent API key exposure
  src/ostruct/cli/errors.py
  src/ostruct/cli/runner.py
  src/ostruct/cli/security/credential_sanitizer.py
Due: black, mypy

security: Fix Unicode path traversal bypass vulnerability
  src/ostruct/cli/security/normalization.py
Due: black, mypy

fix: Improve exception handling and security error propagation
  src/ostruct/cli/attachment_processor.py
Due: black, mypy

fix: Resolve resource leak in upload lock management
  src/ostruct/cli/upload_manager.py
Due: black, mypy

fix: Eliminate race condition in cache validation
  src/ostruct/cli/upload_cache.py
Due: black, mypy

security: Enhance template injection protection
  src/ostruct/cli/template_env.py
  src/ostruct/cli/template_sanitizer.py
Due: black, mypy

security: Improve path traversal prevention in safe_join
  src/ostruct/cli/security/safe_joiner.py
Due: black, mypy

refactor: Remove overly aggressive template context sanitization
  src/ostruct/cli/template_processor.py
Due: black, mypy
