Repository yaniv-golan/ostruct: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: check-toml

-   repo: local
    hooks:
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        exclude: ^examples/

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.3.4
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^examples/

-   repo: local
    hooks:
    -   id: mypy
        name: mypy (poetry)
        entry: poetry run mypy src
        language: system
        # Do not pass filenames to mypy, we are checking the whole src folder
        pass_filenames: false
        types: [python]

fix: add missing UploadCache patches to responses API tests
  tests/test_responses_api.py
Due: black, mypy

fix: update links in tool_integration.rst for known issues
  docs/source/user-guide/tool_integration.rst
Due: none

fix: resolve Sphinx linkcheck failure for known issues documentation
  docs/source/user-guide/tool_integration.rst
Due: none

feat: add data science integration guide to documentation
  docs/source/index.rst
  docs/source/user-guide/data_science_integration.rst
Due: none

fix: remove community examples section from data science integration guide
  docs/source/user-guide/data_science_integration.rst
Due: none

feat: enhance llms.txt with web search tool patterns and citation guidelines
  llms.txt
Due: none

feat: expand data science integration guide with interactive Jupyter notebook examples
  docs/source/user-guide/data_science_integration.rst
Due: none

feat: add comprehensive data science examples and integration documentation
  examples/data-science/Makefile
  examples/data-science/README.md
  examples/data-science/analysis/.gitkeep
  examples/data-science/analysis/Makefile
  examples/data-science/analysis/README.md
  examples/data-science/analysis/data/sample.csv
  examples/data-science/analysis/data/test_tiny.csv
  examples/data-science/analysis/notebooks/analysis_demo.py
  examples/data-science/analysis/ostruct.yaml.example
  examples/data-science/analysis/run.sh
  examples/data-science/analysis/schemas/main.json
  examples/data-science/analysis/templates/main.j2
  examples/data-science/integration/.gitkeep
  examples/data-science/integration/README.md
  examples/data-science/integration/market-entry/Makefile
  examples/data-science/integration/market-entry/README.md
  examples/data-science/integration/market-entry/data/financial_projections.csv
  examples/data-science/integration/market-entry/docs/eu_regulatory_overview.md
  examples/data-science/integration/market-entry/docs/market_research_summary.md
  examples/data-science/integration/market-entry/schemas/market_entry_schema.json
  examples/data-science/integration/market-entry/templates/market_entry_analysis.j2
  examples/data-science/notebooks/.gitkeep
  examples/data-science/notebooks/README.md
  examples/data-science/notebooks/jupyter_integration.ost
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
  examples/data-science/visualization/.gitkeep
Due: mypy

refactor: streamline sample data creation and analysis in Jupyter notebook
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

feat: enhance ostruct_data_analysis notebook with chart display functionality
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

feat: improve error handling and debugging in ostruct_data_analysis notebook
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

Fix MCP server validation to support both STDIO and HTTP transports
  src/ostruct/cli/services.py
Due: black, mypy

Update known issues documentation for two-pass sentinel execution strategy
  docs/known-issues/2025-06-responses-ci-file-output.md
Due: none

fix: enable Code Interpreter tool without file uploads
  src/ostruct/cli/runner.py
Due: black, mypy

fix: enable sentinel instructions for auto-enabled two_pass_sentinel strategy
  src/ostruct/cli/template_processor.py
Due: black, mypy

fix: handle AsyncContent objects in Code Interpreter file downloads
  src/ostruct/cli/code_interpreter.py
Due: black, mypy

test: add comprehensive tests for download strategy auto-enable logic
  tests/test_download_strategy.py
Due: black, mypy

docs: update llms.txt with new MCP server usage and code-interpreter behavior
  llms.txt
Due: none

chore: update CHANGELOG for v1.6 release
  CHANGELOG.md
Due: none

fix: apply pre-commit formatting fixes
  docs/source/user-guide/data_science_integration.rst
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

docs: enhance tool integration guide with file download behavior details
  docs/source/user-guide/tool_integration.rst
Due: none

fix: resolve failing tests for examples and MCP service validation
  examples/data-science/Makefile
  src/ostruct/cli/services.py
Due: black, mypy

chore: prepare v1.6.0-rc1 release
  CHANGELOG.md
Due: none

fix: update ostruct installation command in notebook
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

fix: enhance error handling and chart display in ostruct_data_analysis notebook
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

fix: enhance analysis results display and chart search in ostruct_data_analysis notebook
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

refactor: streamline function definitions and enhance template for multi-tool analysis in ostruct_data_analysis notebook
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

model changed to gpt-4.1 (gpt-4o-mini ignores the sentinel markers in ~30–40 % of real runs)
  examples/data-science/analysis/notebooks/analysis_demo.py
Due: mypy

timeout -> 180 seconds model -> gpt-4.1
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

feat: enhance ostruct_data_analysis notebook with environment options and experiment tracking
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

feat: add requirements file for ostruct data analysis notebook
  examples/data-science/notebooks/requirements.txt
Due: none

feat: enhance Code Interpreter file downloads with multi-tier reliability system
  src/ostruct/cli/code_interpreter.py
  src/ostruct/cli/container_downloader.py
  src/ostruct/cli/download_errors.py
  src/ostruct/cli/download_logger.py
  src/ostruct/cli/retry_handler.py
  src/ostruct/cli/runner.py
  src/ostruct/cli/template_processor.py
Due: black, mypy

docs: add comprehensive troubleshooting guides and improve cross-references
  README.md
  docs/developer-ci-downloads.md
  docs/known-issues/2025-06-responses-ci-file-output.md
  docs/template_troubleshooting.md
  docs/troubleshooting-ci-downloads.md
  docs/troubleshooting.md
Due: none

docs: consolidate v1.6.0 changelog entries
  CHANGELOG.md
Due: none

fix: increase analysis timeout in data science notebook
  examples/data-science/notebooks/ostruct_data_analysis.ipynb
Due: none

docs: update llms.txt with new CI download timeout and schema requirements
  llms.txt
Due: none

release: bump version to v1.6.0-rc2
  CHANGELOG.md
  pyproject.toml
Due: none

feat: improve --dry-run-json UX by auto-enabling dry-run mode
  src/ostruct/cli/click_options.py
  src/ostruct/cli/help_json.py
Due: black, mypy

docs: update documentation for API key validation and --dry-run-json improvements
  MIGRATION_GUIDE.md
  docs/source/user-guide/cli_reference.rst
  llms.txt
Due: none

feat: add API key validation in dry-run mode
  src/ostruct/cli/commands/run.py
  src/ostruct/cli/runner.py
  src/ostruct/cli/utils/client_utils.py
Due: black, mypy
